@{
    ViewData["Title"] = "Gerenciador de Estacionamento";
}

<form asp-action="CadastroCarro" method="post">
    <label for="placa">Digite a placa:</label>
    <input type="text" id="placa" name="placa"/>
    <button type="submit" class="button">Registrar Carro</button>
</form>

@model List<CarroModel>

<table>
    <tr>
            <td>Registrar: </td>
            <td>|| Placa</td>
            <td>|| Hora de Entrada</td>
            <td>|| Horada de Saida</td>
            <td>|| Duracao</td>
            <td>|| Tempo cobrado</td>
            <td>|| Preco</td>
            <td>|| Valor a Pagar</td>
    </tr>
    @foreach (var carro in Model)
    {
        <tr>
<td>
    <button onclick="registrarHora('@carro.num_placa', 'Entrada')">Entrada</button>
    <button onclick="registrarHora('@carro.num_placa', 'Saida')">Saída</button>
</td>
            <td>|| @carro.num_placa</td>
            <td>|| @carro.hora_entrada</td>
            <td>|| @carro.hora_saida</td>
            <td>|| @carro.duracao</td>
            <td>|| @carro.tempo_cobrado</td>
            <td>|| @carro.preco</td>
            <td>|| @carro.valor</td>
        </tr>
    }
</table>

<script>
async function registrarHora(placa, tipo) {
    const response = await fetch(`/Carro/Cadastro${tipo}?placa=${placa}`, {
        method: 'PUT'
    });

    if (response.ok) {
        location.reload();
    } else {
        alert('Erro ao registrar.');
    }
}
</script>