@{
    ViewData["Title"] = "Gerenciador de Estacionamento";
}

<div>
<form asp-action="CadastroCarro" method="post">
    <label for="placa">Digite a placa:</label>
    <div class="input-group mb-3">
        <input class="form-control" type="text" id="placa" name="placa" maxlength="8"/>
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary">Registrar Carro</button>
        </div>
    </div>
</form>

@model List<CarroModel>

<table class="table table-dark table-striped">
    <tr>
            <td>Registrar: </td>
            <td>Placa</td>
            <td>Hora de Entrada</td>
            <td>Horada de Saida</td>
            <td>Duracao</td>
            <td>Tempo cobrado em horas</td>
            <td>Preco</td>
            <td>Valor a Pagar</td>
    </tr>
    @foreach (var carro in Model)
    {
        <tr>
<td>
    <button class="btn btn-light" onclick="registrarHora('@carro.num_placa', 'Entrada')">Entrada</button>
    <button class="btn btn-light" onclick="registrarHora('@carro.num_placa', 'Saida')">Saída</button>
</td>
            <td>@carro.num_placa</td>
            <td>@carro.hora_entrada</td>
            <td>@carro.hora_saida</td>
            <td>@carro.duracao</td>
            <td>@carro.tempo_cobrado</td>
            <td>@(carro.preco != null ? carro.preco.valor_inicial.ToString("C") : "-")</td>
            <td>@(carro.valor.HasValue ? carro.valor.Value.ToString("C") : "-")</td>
        </tr>
    }
</table>

</div>

<script>
async function registrarHora(placa, tipo) {
    const response = await fetch(`/Carro/Cadastro${tipo}?placa=${placa}`, {
        method: 'PUT'
    });

    if (response.ok) {
        location.reload();
    } else {
        alert('Erro ao registrar.');
    }
}
</script>